.ctp-widget {
    padding: 40px;
}

    .ctp-widget .ctp-widget-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
        border-radius: 50%;
        background-color: #adadad;
    }

        .ctp-widget .ctp-widget-wrapper figure {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .ctp-widget .ctp-widget-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 275ms ease-out;
            opacity: 0;
            color: #ffffff;
            background-color: rgba(233,32,79,0.77);
        }

        .ctp-widget .ctp-widget-content:hover,
        .ctp-widget .ctp-widget-content:focus,
        .ctp-widget .ctp-widget-content:focus-within {
            opacity: 1;
        }

            .ctp-widget .ctp-widget-name {
                font-family: "Overpass", Sans-serif;
                font-size: 20px;
                font-weight: 600;
                margin: 0;
                color: inherit;
            }

            .ctp-widget .ctp-widget-jobtitle {
                font-family: "Overpass", Sans-serif;
                font-size: 14px;
                font-weight: normal;
                opacity: 0.8;
                margin: 0;
                color: inherit;
            }

            .ctp-widget .ctp-widget-button {
                margin-top: 28px;
                padding: 6px 20px;
                font-family: "Overpass", Sans-serif;
                font-size: 14px;
                transition:
                    color 0.3s ease-in-out,
                    background 0.3s ease-in-out !important;
                border: 1px solid #ffffff;
                border-radius: 2px;
                color: #e9204f;
                background: #ffffff;
            }

            .ctp-widget .ctp-widget-button:hover,
            .ctp-widget .ctp-widget-button:focus {
                color: #ffffff;
                background: #e9204f;
            }
